/*========= GLOBAL SCSS STYLING AND NATIVE COMPONENTS ==========*/
@import "assets/scss/style";

ActionBar {
    background-color: $bg-primary;
    color: white;
}

Page{
	background-color: $bg-primary;
}